<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
        colors="true"
        bootstrap="tests/bootstrap.php"
        cacheResultFile=".phpunit.result.cache">

    <testsuites>
        <testsuite name="Webpack Stats Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
        </exclude>
    </coverage>
</phpunit>
